apiVersion: v1
kind: Namespace
metadata:
  name: production
  labels:
    name: production
    env: prod

---
apiVersion: v1
kind: Namespace
metadata:
  name: staging
  labels:
    name: staging
    env: staging

---
apiVersion: v1
kind: Namespace
metadata:
  name: monitoring
  labels:
    name: monitoring
    env: prod

---
apiVersion: v1
kind: Namespace
metadata:
  name: clickhouse
  labels:
    name: clickhouse
    env: prod
